@model IEnumerable<Players>

<div class="row pb-3">
    @foreach(var player in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1" style="border:1px solid #008cba; border-radius:5px">
                    <div class="card">
                        <img src="@player.ImageURL" class="card-img-top rounded" />
                    </div>
                    <div class="card-body">
                        <div class="p-1">
                            <p class="card-title h5 text-primary">@player.PlayerName</p>
                            <p class="card-title text-secondary"><b>@player.Position</b></p>

                        </div>
                        <div class="p-1">
                            <p>所屬隊伍:<b>@player.Country.Name</b></p>
                        </div>
                    </div>
                </div>
                <div>
                    <a asp-action="Details" class="btn btn-primary form-control" asp-route-playerId="@player.PlayerID">
                        Details
                    </a>
                </div>
            </div>
           
        </div>
    }

</div>
