@model List<Games>
<!--新增TempData，只會渲染一次-->
<partial name="_Notification" />
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                場次名單
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Game" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> 新增場次
            </a>
        </div>
    </div>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    對戰組合
                </th>
                <th>
                    球賽日期
                </th>
                <th>
                    比賽球場
                </th>
                <th>
                   票價
                </th>
                <th>
                    總座位
                </th>
                <th>
                    剩餘座位
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderBy(u => u.Location))
            {
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.EventDate
                    </td>
                    <td>
                        @obj.Location
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td>
                        @obj.TotalSeats
                    </td>
                    <td>
                        @obj.AvailableSeats
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <!--這裡要傳入id的參數，才能指定要編輯的資料-->
                            <a asp-controller="Game" asp-action="Edit" asp-route-id="@obj.GameId"
                            class=" btn btn-primary mx-2">
                            <i class="bi bi-pencil-square"></i>編輯
                        </a>
                            <!--這裡要傳入id的參數，才能指定要刪除的資料-->
                            <a asp-controller="Game" asp-action="Delete" asp-route-id="@obj.GameId"
                               class=" btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>刪除
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>